.App {
  text-align: center;
}

.home-container {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 5% 800px;
}

#login-bar {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
}

#explore-container {
  background-image: url("https://i.imgur.com/TEbwhVs.jpg?1");
  background-size: 1300px 1000px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

#search-bar{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
  margin-top: 35%;
  color: white;
  font-weight: bold;
  font-size: larger;
}

#trails-card-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 25%;
  grid-row-gap: 15px;
}

#trails-card {
    justify-content: center;
    justify-self: center;
    min-height: 300px;
    max-height: 300px;
    flex-wrap: wrap;
}
/*
.ui.card, .ui.cards>.card {
    max-width: 100%;
    /* position: relative; */
    /* display: -webkit-box;
    display: -ms-flexbox; */
    /* display: grid; */
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    width: 290px;
    min-height: 300px;
    max-height: 300px;
    background: #fff;
    padding: 0px;
    border: none; */
    /* border-radius: .28571429rem; */
