import 'react-rater/lib/react-rater.css'

.react-rater-star {
  color: gold;
  font-size: x-large;
}

.react-rater-star.is-disabled {

  font-size: x-large;
}

.react-rater-star.is-active {
  color: gold;
  color: unset;
  font-size: x-large;
}

.react-rater-star.is-disabled.is-active-half{

  font-size: x-large;
}

.App {
  text-align: center;
}

a {
    color: #0a7344;
    text-decoration: none;
}

.home-container {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 10% 800px;
}

.ui.menu {
  font-size: 1.1em;
}

#logout{
  margin-left: auto;
  padding-right: 25px;
  font-weight: bold;
}
#login-bar {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  max-height: 10px;
  align-self: center;
}

/* .ui.menu:not(.vertical) .item {
  color: #0a7344;
} */

.user-greeting{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  color: #0a7344;
  font-size: larger;
  font-weight: bold;
}

.ui.bulleted.list, ul.ui.list {
  font-size: medium;
  margin-left: 1.25rem;
}

#explore-container {
  background-image: url("https://lonelyplanetwp.imgix.net/2018/03/qadisha-valley-lebanon-b1b31d22137d.jpg?fit=min&q=40&sharp=10&vib=20&w=1470");
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

#search-bar{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
  margin-top: 30%;
  color: #0a7344;
  font-weight: bold;
  font-size: larger;
}

.sortBy{
  max-width: 250px;
  margin: auto;
  padding: 1%
}

.pack-container{
  color: #0a7344;
}

.pack-items-container{
  color: #0a7344;
  display: grid;
  grid-auto-rows: 20%;
  }

.pack-items{
  font-size: medium;
}
.ui.checkbox{
  min-height: 15px;
  padding: 25px;
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.ui.compact.icon.button, .ui.compact.icon.buttons .button {
    padding: .10928571em .10928571em .10928571em;
}
.pack-input{
  width: 17%;
  border-radius: 6px;
  max-height: 37px;
  min-height: 37px;
  padding: 12px 20px;
  margin: 8px 5px;
}
    /* display: grid;
    grid-template-rows: 50px 300px 50px;
    grid-template-columns: 30px auto 30px;
}
#list-title{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}
.pack-items{
    display: grid;
    grid-auto-rows: 10%;
    grid-auto-columns: 30px auto 30px;
    grid: display;
    grid-column-start: 2;
    grid-column-end: 2;
}
.pack-form{
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
} */
.trails-container{
  color: #0a7344;
}
#trails-card-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 25%;
  grid-row-gap: 15px;
}

.user-trails{
  color: #0a7344;
}

.trail-specs{
  color: #0a7344;
  display: grid;
  grid-template-rows: 50px 50px 600px 45px 45px;
  grid-template-columns: 30px auto 30px;
}

.star-rating{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
}

.trail-name{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  align-self: center;
}

.diff-img{
  max-height: 25px;
}

.t-detailsDiv{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  display: grid;
  border-style: solid;
  grid-template-columns: 78% 22%;
}
.trail-img{
  justify-self: center;
  padding: 3px;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 1;
  max-height: 580px;
  min-height: 592px;
  max-width: 1000px;
  min-width: 1230px;
  border-radius: 10px;
}

.t-dets{
  grid-column-start: 2;
  grid-column-end: 2;
  font-size: medium;
  border-left: solid;
  color: black;
border-color: #0a7344;
}

#hike-btn{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  justify-self: center;
  align-self: end
}

#fav-btn{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
  justify-self: center;
  align-self: end
}

.user-info{
  color: #0a7344;
}


.ui.card {
  justify-content: center;
  justify-self: center;
  min-height: 300px;
  max-height: 300px;
  margin: 1em 0;
}

.trail-link{
  justify-content: center;
  justify-self: center;
}
.ui.card:first-child {
    margin-top: 12px;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  max-height: 225px;
  min-height: 225px;
}
/*
.ui.card, .ui.cards>.card {
    max-width: 100%;
    /* position: relative; */
    /* display: -webkit-box;
    display: -ms-flexbox; */
    /* display: grid; */
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    width: 290px;
    min-height: 300px;
    max-height: 300px;
    background: #fff;
    padding: 0px;
    border: none; */
    /* border-radius: .28571429rem; */
